{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Login.css') }}">
{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">INSCRIPTION</h1>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}

                    {{ form_row(registrationForm.plainPassword) }}

                    <div class="CGU">
                        {{ form_row(registrationForm.agreeTerms, { label: 'Accepter les CGU'
                        }) }}
                    </div>
                        <button type="submit" class="opacity">S'inscrire</button>
                    
                {{ form_end(registrationForm) }}
                </div>
            <div class="circle circle-two"></div>
        </div>
    </section>
{% endblock %}
