{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
    <ul>
        <form method="POST" action="{{ path('app_quiz_submit', {'id': quiz.id}) }}">
        {% for question in questions %}

            <li>
                <p> {{ question.libelle }} </p>
                <ul>
                        {% for answer in question.answers %}

                        <li>
                            <label>
                            {{ answer.libelle }}
                                 <input value="{{ answer.id }}" type="radio" name="question{{ question.id }}">
                            </label>
                        </li>

                        {% endfor %}
                </ul>
            </li>

        {% endfor %}
        <button type="submit"> <a href="{{ path('app_quiz_submit', {'id': quiz.id}) }}"> Confirmer </a> </button>
        </form>
    </ul>

    <br>

{% endblock %}


