{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
    <ul>
            {% for question in questions %}

                <li>
                    <p> {{ question.libelle }} </p>
                    <ul>
                            {% for answer in question.answers %}

                            <li>
                                <label>
                                {{ answer.libelle }}
                                    <input id="{{ answer.id }}" value="{{ answer.id }}" type="radio" name="question{{ question.id }}" class="answers">
                                </label>
                            </li>

                            {% endfor %}
                    </ul>
                </li>

            {% endfor %}
            
    </ul>
    <button onclick="envoiForm()" type="submit" id="envoyer"> Confirmer </button>
    <p id="score"> </p>

    <script>
        async function envoiForm() 
        {
            answers = document.getElementsByClassName("answers");
            answerstosend = [];
            cpt_answer = 0;

            for (var answer of answers) {
                if (answer.checked) {
                    answerstosend.push(answer.defaultValue);
                    cpt_answer += 1;
                }
            }

            let response = await fetch("{{path('app_quiz_submit')}}", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                body: JSON.stringify(answerstosend)
                })
            .then(response => {
                return response.json()
            }).then(data => {
                if(data.nbquestions == cpt_answer)
                {
                    score = document.getElementById("score");
                    button = document.getElementById("envoyer");
                    score.innerHTML = `Score final : ${Math.round(data.score)}` + "%" ;
                    inputs = document.getElementsByTagName("input");

                    for (var input of inputs) {
                        input.disabled = true;
                    }

                    button.disabled = true;

                    for (var answers of data.res){
                        label = document.getElementById(answers[1]).parentNode;
                        label.style.color = "green";

                        label = document.getElementById(answers[0]).parentNode;
                        label.style.color = (answers[0] == answers[1]) ? "green" : "red";
                    }
                }
                else
                {
                    //console.log(data.nbquestions, cpt_answer);
                    alert("Vous n'avez pas répondu à toutes les questions");
                }
            })
        }

        /*boutton = document.getElementById("envoyer");
        boutton.addEventListener("click", envoiForm());*/
    </script>

{% endblock %}


