{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/Accueil.css')}}">
{% endblock %}

{% block body %}
    <br>
    <h2 style="margin-left:45%;"> Quiz {{ theme.libelle }} </h2>
    <ul style="margin-left:35%;">
        {% for quiz in quizzes %}
            
                {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <div style="display:flex;">
                        <a href="{{ path('app_quiz_questions', {'id': quiz.id}) }}"> <button class="button-54"> <p> {{ quiz.title }} </p> </button> </a>
                        <button class="poubelle" ><a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}"> <img style="width:16px;" src="{{ asset('img/edit.png') }}"> </a></button>
                        {{ include('quiz/_delete_form.html.twig') }}
                    </div>
                </li>
                {% elseif is_granted("ROLE_USER") and quiz.isPublished %}
                <li>
                    <a href="{{ path('app_start_quiz', {'id': quiz.id}) }}"> <p> {{ quiz.title }} </p> </a>
                </li>
                {% endif %}

        {% endfor %}

        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <div style="display:flex;">
                    <button class="button-54"><a href="{{ path('app_quiz_new', {'idtheme': theme.id}) }}"> <p> + </p> </a> </button>
                </div>
            </li>
        {% endif %}

    </ul>

{% endblock %}
